name = "wavestk-worker"
main = "src/index.ts"
compatibility_date = "2024-11-21"
account_id = "c677241d7d66ff80103bab9f142128ab"

# R2 Bucket Binding
[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "wavestk-audio"

# Custom Domain (set via Cloudflare Dashboard)
# wave.be2nd.com
